<?xml version="1.0" encoding="utf-16"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <SelectedLanguage>EN</SelectedLanguage>
    <MainMenuStyle>RIBBON</MainMenuStyle>
    <MaxLogLines>100</MaxLogLines>
    <IsAutoSaveProj>true</IsAutoSaveProj>
    <AutoSaveProjPeriod>5</AutoSaveProjPeriod>
    <IsLogging>true</IsLogging>
    <ShowMagnifier>true</ShowMagnifier>
    <ShowNumbers>true</ShowNumbers>
    <Orchestrator>
        <Login>studio</Login>
        <Password>CKsgN8qgTmWGaNFDfo8Lxg==</Password>
        <Address>https://vr2-roboweb-01.go.gkm.ru:44392/</Address>
        <OperationKey xsi:nil="true" />
        <RobotEdition xsi:nil="true" />
    </Orchestrator>
    <SelectedTheme>
        <ID>VS2019Blue</ID>
        <Name>Visual Studio 2019 blue</Name>
    </SelectedTheme>
    <DoNotShowStudioDesignWindow>true</DoNotShowStudioDesignWindow>
    <StudioDesignMode>Pro</StudioDesignMode>
    <PathToAdb>C:\Users\${User}\AppData\Local\Android\Sdk\platform-tools\adb.exe</PathToAdb>
    <MITMProxyPort>8889</MITMProxyPort>
    <MITMProxyAutoregisterAsSystem>true</MITMProxyAutoregisterAsSystem>
    <MITMProxyCaptureSSL>true</MITMProxyCaptureSSL>
    <MITMProxyInterceptIncomming>true</MITMProxyInterceptIncomming>
    <DebuggerType>ROBOT</DebuggerType>
    <RobotType>X64</RobotType>
    <RobotEngVer>v2</RobotEngVer>
    <IsNoCodeDefault>false</IsNoCodeDefault>
    <DebuggerDoCache>false</DebuggerDoCache>
    <DebuggerCloseRobot>false</DebuggerCloseRobot>
    <DebuggerRobotShowConsole>false</DebuggerRobotShowConsole>
    <DebuggerMinimize>false</DebuggerMinimize>
    <DebuggerShowConsoleWindow>true</DebuggerShowConsoleWindow>
    <DebuggerTrace>false</DebuggerTrace>
    <DebuggerLogToFile>false</DebuggerLogToFile>
    <DebuggerLogCustomToFile>false</DebuggerLogCustomToFile>
    <CanPauseDebugging>true</CanPauseDebugging>
    <ShowWelcome>false</ShowWelcome>
    <DebuggerShowOutput>true</DebuggerShowOutput>
    <UseQuickSearch>true</UseQuickSearch>
    <ProjectsHistory>
        <string>C:\Users\prod_robo_02\Documents\Primo\New project\project.ltp</string>
        <string>\\vr2-robostd-01\Primo\Projects\fin.acc\project.ltp</string>
    </ProjectsHistory>
    <ProjectPathsHistory>
        <string>C:\Users\prod_robo_02\Documents\Primo</string>
    </ProjectPathsHistory>
    <LastProjectPath>C:\Users\prod_robo_02\Documents\Primo</LastProjectPath>
    <DebuggerRobotAwait>20000</DebuggerRobotAwait>
    <DebuggerCheckSyntax>true</DebuggerCheckSyntax>
    <GitRemotes />
    <FavoriteElements>
        <FavoriteElement>
            <ElementName>LTools.Workflow.Elements.WFCommentOut</ElementName>
            <Frequency>1</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Common.WFItems.WFElement</ElementName>
            <Frequency>4</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Workflow.Elements.WFIf</ElementName>
            <Frequency>1</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Workflow.Elements.WFToDo</ElementName>
            <Frequency>1</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.UserInteractions.Elements.WFUserForm</ElementName>
            <Frequency>3</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Workflow.Elements.WFInputDialog</ElementName>
            <Frequency>2</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Workflow.Elements.WFSequenceLink</ElementName>
            <Frequency>2</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Desktop.Elements.WFBlockUserInput</ElementName>
            <Frequency>1</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Workflow.Elements.WFCustomInput</ElementName>
            <Frequency>2</Frequency>
        </FavoriteElement>
        <FavoriteElement>
            <ElementName>LTools.Workflow.Elements.WFAddToLog</ElementName>
            <Frequency>1</Frequency>
        </FavoriteElement>
    </FavoriteElements>
    <FavoriteSelElements />
    <EditorSettings>
        <IsLineNumberMarginVisible>false</IsLineNumberMarginVisible>
        <IsOutliningMarginVisible>false</IsOutliningMarginVisible>
        <IsRulerMarginVisible>false</IsRulerMarginVisible>
        <IsWordWrapEnabled>false</IsWordWrapEnabled>
        <AreWordWrapGlyphsVisible>false</AreWordWrapGlyphsVisible>
        <IsWhitespaceVisible>false</IsWhitespaceVisible>
        <IsVirtualSpaceAtLineEnd>false</IsVirtualSpaceAtLineEnd>
        <AreIdentationGuidesVisible>false</AreIdentationGuidesVisible>
        <AreLineModificationMarksVisible>false</AreLineModificationMarksVisible>
        <IsDelimeterHighlightingEnabled>false</IsDelimeterHighlightingEnabled>
        <IsAutoCorrectEnabled>false</IsAutoCorrectEnabled>
        <ZoomLevel>1</ZoomLevel>
    </EditorSettings>
    <ShortStartupHint>false</ShortStartupHint>
    <ShowLastProjectItems>false</ShowLastProjectItems>
    <ElementsHideGen1>false</ElementsHideGen1>
    <ShowVerticalTitles>true</ShowVerticalTitles>
    <MinComponentDropperHeight>40</MinComponentDropperHeight>
    <ElementMargin>5</ElementMargin>
    <ContainerPadding>20</ContainerPadding>
    <SapTimeOut>10000</SapTimeOut>
    <SapIsX64>true</SapIsX64>
    <UseJavaDeepSearch xsi:nil="true" />
    <DebuggerSendVars>true</DebuggerSendVars>
    <IsDebugDeep>true</IsDebugDeep>
    <OverrideGrabHotkey>false</OverrideGrabHotkey>
    <GrabHotkey>Alt+F12</GrabHotkey>
    <LastUsedDataTypes>
        <string>System.String</string>
        <string>LTools.UserInteractions.Model.UserFormResult</string>
    </LastUsedDataTypes>
    <NugetSources />
</Settings>